<div id="add-new-candidate">
  <div class="form-container">
    <div class="add-c-header">
      <div class="add-cheader-logo">
        <img src="../../assets/images/logo.png" />
      </div>
      <div class="add-cheader-info">
        <h4 style="margin: 0;">Please enter your details</h4>
        <span (click)="onClose()" style="cursor: pointer;"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <form [formGroup]="addCandidateForm" (ngSubmit)="addNewCandidate(addCandidateForm.value)">
      <p *ngIf="formValidationMsg" class="invalidationError">
        {{ formValidationMsg }}
      </p>
      <p *ngIf="formSuccessMsg" class="successMsg">
        {{ formSuccessMsg }}
      </p>
      <div class="field-height">
        <mat-label class="matLabel">First Name
          <span class="input-required-mark">*</span>
        </mat-label>
        <input matInput type="email" class="mat-input-fields" placeholder="enter first name"
          formControlName="first_name" required />
      </div>
      <div class="field-height">
        <mat-label class="matLabel">Last Name
          <span class="input-required-mark">*</span>
        </mat-label>
        <input matInput type="email" class="mat-input-fields" placeholder="enter last name" formControlName="last_name"
          required />
      </div>
      <div class="field-height" id="email-availibility">
        <div>
          <mat-label class="matLabel">Email
            <span class="input-required-mark">*</span>
          </mat-label>
          <input matInput type="email" class="mat-input-fields" (change)="showLink()" (keypress)="showLink()"
            placeholder="enter candidate email" formControlName="email" required value="{{candidate_email}}" />
        </div>
        <!-- 
        <div style="margin: auto;">
          <mat-label class="matLabel" style="visibility: hidden;"
            >Check Availability
            <span class="input-required-mark">*</span>
          </mat-label>
          <span
            class="email-check"
            (click)="checkEmailAvailability()"
            *ngIf="!emailCheck"
            >Check Availability</span
          >
          <div class="loader" *ngIf="showLoader"></div>
          <span *ngIf="validEmail" style="display: block;color: green;"
          ><i class="fa fa-check"></i> Available!!!</span
          >
          <span *ngIf="invalidEmail" style="display: block; color: red;"
          ><i class="fa fa-times"></i> Email Already Exists!!!</span
          >
        </div>
      -->
      </div>
      <div class="field-height">
        <mat-label class="matLabel">Mobile </mat-label>
        <input matInput type="text" minlength="10" maxlength="12" (keypress)="isNumberKey($event)"
          class="mat-input-fields" placeholder="enter candidate mobile" formControlName="cell_phone" />
      </div>
      <mat-card-actions class="button-space">
        <button type="submit" [disabled]="!addCandidateForm.valid" mat-button style="margin-left: 22px;">
          Submit
        </button>
        <button type="button" mat-button style="margin-left: 22px;">
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </div>
</div>