.field-height {
    margin-bottom: 20px;
}

#email-availibility {
    display: flex;
    align-items: center;
}

.email-check {
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-decoration: underline;
}

.invalidationError {
    color: #e3513f;
    background: #e3513f26;
    padding: 12px;
    border-radius: 6px;
}

.successMsg {
    color: #6fc68f;
    background: #6fc68f26;
    padding: 12px;
    border-radius: 6px;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.add-c-header {
    display: flex;
    align-items: flex-start;
}

.add-cheader-logo {
    width: 112px;
    height: auto;
}

.add-cheader-logo img {
    width: 100%;
    height: 100%;
}

.add-cheader-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
}