<!--chat window body structure-->
<!-- <mat-spinner *ngIf="showLoader" class="loader"></mat-spinner> -->
<div id="svg-loader" *ngIf="showLoader">
    <div class="home-laoder">
        <img src="../../assets/images/Wedges-3s-200px.svg">
    </div>
    <h2 *ngIf="showLoader" style="text-align: center;">The bot is loading...</h2>
</div>
<!-- <div *ngIf="showLoader"><img src="../../assets/images/Wedges-3s-200px.svg"></div> -->
<div class="conversation ps">
    <div #scrollMe class="messages-box" id="message-box">

        <!-- <div class="message-container" id="message-container">
            <div class="message type-1 passed">
                <div class="avatar-container">
                    <div class="question" *ngFor="let item of apiResponse.data.text">
                        <div class="text">{{item}} </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="message-container right" id="userRes">
            <div class="response-wrap" id="response-wrap"></div>
        </div> -->

        <!-- <div class="message-container" id="message-container16">
            <div class="message type-1 passed">
                <div class="avatar-container" id="avatar">
                    <div class="question" id="que">
                        <div class="text">
                            <p style="margin:0;">Please share updated resume with your top skills at shubham@fenixwork.com</p>
                            <span class="mat-time">11:53 AM </span>
                        </div>
                    </div>
                </div>
                <div class="actions-container" id="actionContainer">
                    <div class="wrap">
                        <div tabindex="1" class="expect-salary-action" id="actionButton0-15">
                            <span>Resume</span>
                            <input type="file" class="custom-file-input" id="fileInputButton" (change)="readFileContent($event)">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="append"></div>
        <div class="lds-ellipsis" *ngIf="!hidebubble">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <!-- <img src="../../assets/images/Wedges-3s-200px.svg"> -->
        </div>
        <div id="end-flow" *ngIf="botSuccess">
            <div class="end-flow-success-screen">
                <h2 style="text-align: center;margin-top: 0;color: #495f8f;line-height: 1.5;">Thank you for taking your time!<br/> If you want to search other jobs, please visit us at <a href="http://career.aptask.com/" style="color: #db5516;">ApTask</a></h2>
                <div class="end-flow-s-img"><img src="../../assets/images/like.png"></div>
                <div class="action-btn-end-flow">
                    <a href="http://career.aptask.com/" class="action-end-btn">Go To ApTask careers</a>
                    <a href="http://www.aptask.com/" class="action-end-btn">Go To ApTask Home page</a>
                    <button type="button" id="talk-again" class="action-end-btn" (click)="reloadBot()">Start the Bot again</button>
                </div>
            </div>
        </div>
        <div id="end-flow" *ngIf="botError">
            <div class="end-flow-success-screen">
                <h2 style="text-align: center;margin-top: 0;font-weight: 500;line-height: 1.5;">Oops, Something Went Wrong!!!</h2>
                <div class="end-flow-error-img"><img src="../../assets/images/shield.png"></div>
                <div class="action-btn-end-flow">
                    <a href="http://career.aptask.com/" class="action-end-btn">Go To ApTask careers</a>
                    <a href="http://www.aptask.com/" class="action-end-btn">Go To ApTask Home page</a>
                    <button type="button" id="talk-again" class="action-end-btn" (click)="reloadBot()">Start the Bot again</button>
                </div>
            </div>
        </div>
        <!-- <div class="message-container">
            <div class="message type-3 has-actions">
                <div class="avatar-container">
                    <div class="question" *ngFor="let item of apiResponse.data.text">
                        <div class="text">{{item}}</div>
                    </div>
                </div>
                <div tabindex="1" class="actions-container">
                    <div class="wrap">
                        <div tabindex="1" class="action" (click)="onClickQuickReply(buttonData)"><span>{{buttonData}}</span></div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!--message send input field-->

    <!-- <div class="input-container-wrap" ngClass.xs="container-wrap_xs" *ngIf="toggleButton">
        <div class="input-container">
            <input maxlength="255" tabindex="1" type="text" ngClass.xs="input_xs" (keydown)="keyDownFunction($event)" [(ngModel)]="userResponse" placeholder="Type here...">
            <div class="send-btn">
                <i class="material-icons" (click)="onClickSend()">send</i>
            </div>
        </div>
    </div> -->
</div>


<!--history button html code-->
<!--<div class="history-box">
      <div class="message-container">
        <div class="load-more">
          <div class="text">Load History</div>
        </div>
      </div>
    </div>-->