 .conversation {
     flex: 1 1 auto;
     text-align: left;
     position: relative;
     max-height: 100%;
     /* overflow-y: scroll !important; */
 }
 
 .conversation .messages-box {
     max-height: 100%;
     bottom: 0;
     left: 0;
     right: 0;
     padding-top: 35px;
     overflow-y: auto;
     height: 89.5vh;
     background: #eef1f5;
 }
 
 .load-more {
     position: relative;
     text-align: center;
     margin: 0 0 25px;
 }
 
 .load-more .text {
     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 0 2px 0 rgba(0, 0, 0, .14);
     font-size: 11px;
     line-height: 11px;
     font-weight: 500;
     color: #3a3a3c;
     position: relative;
     z-index: 1;
     display: inline-block;
     cursor: pointer;
     border-radius: 5px;
     background-color: #fff;
     padding: 5px;
     margin: 5px 0 4px;
 }
 
 .conversation .message {
     display: block;
     /*margin-bottom: 15px;*/
     position: relative;
     max-width: 100%;
 }
 
 :host ::ng-deep .message-container {
     z-index: 9999;
 }
 
 :host ::ng-deep .message-container.right {
     z-index: 9999;
     text-align: right;
 }
 
 :host ::ng-deep .response-wrap {
     /* display: inline-block;
     margin-left: 40px;
     margin-bottom: 16px;
     max-width: calc(100% - 40px);
     text-align: left; */
     display: flex;
     flex-direction: row;
     padding: 0px 10px;
     justify-content: flex-end;
     margin: 0;
     text-align: left;
     position: relative;
 }
 
 :host ::ng-deep .response {
     background-color: #3F5789;
     color: White;
 }
 
 :host ::ng-deep .response {
     position: relative;
     /* border-top-left-radius: 20px; */
     /* border-bottom-left-radius: 20px; */
     border-radius: 8px;
     padding: 8px 16px;
     line-height: 20px;
     margin-top: 8px;
     margin-bottom: 8px;
 }
 
 :host ::ng-deep .response-wrap::after {
     right: 0;
     border-style: solid;
     border-width: 0 0 12px 18px;
     border-color: transparent transparent transparent #3F5789;
     width: 0;
     height: 0;
     content: '';
     position: absolute;
     top: 8px;
 }
 
 :host ::ng-deep .response .text {
     line-height: 20px;
 }
 /*.text {
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .3px;
}*/
 
 ::ng-deep .question {
     /* display: flex; */
     display: flex;
     flex-direction: row;
     padding: 0px 10px;
     justify-content: flex-start;
     margin: 0;
     text-align: left;
     position: relative;
     /* position: relative;
     background-color: #efefef;
     margin-bottom: 4px;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     padding: 8px 16px;
     margin-right: 40px;
     line-height: 20px;
     max-width: calc(100% - 40px);
     background-color: rgb(239, 239, 239);
     color: rgb(58, 58, 60); */
 }
 
 ::ng-deep .question::after {
     content: ' ';
     position: absolute;
     width: 0;
     height: 0;
     left: 0px;
     right: auto;
     top: 0px;
     bottom: auto;
     border: 12px solid;
     border-color: #3F5789 transparent transparent transparent;
 }
 
 ::ng-deep .question .text {
     overflow: hidden;
     -ms-word-wrap: break-word;
     word-wrap: break-word;
     font-size: 16px;
     font-weight: 400;
     letter-spacing: .3px;
     display: inline-block;
     margin-bottom: 8px;
     /* border-top-right-radius: 20px; */
     /* border-bottom-right-radius: 20px; */
     border-radius: 8px;
     padding: 8px 16px;
     margin-right: 40px;
     line-height: 20px;
     max-width: calc(100% - 40px);
     background-color: #3F5789;
     color: white;
     width: 45%;
 }
 /*css for chat buttons*/
 
 .conversation .message.type-3 .actions-container {
     z-index: 1;
     position: relative;
     margin-left: 16px;
     margin-right: 40px;
 }
 
 :host ::ng-deep .actions-container .wrap .action,
 :host ::ng-deep #scale-submission,
 :host ::ng-deep #checkbox-submission,
 :host ::ng-deep .scale-action,
 :host ::ng-deep .skip_action,
 :host ::ng-deep .action-end-btn {
     border-color: #3F5789;
     background-color: #eef1f5;
     color: #3F5789;
     align-items: flex-start;
     margin-top: 8px;
     margin-left: 12px;
     padding: 8px 25px;
     border: 1px solid #3F5789;
     border-radius: 20px;
     max-width: 100%;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     display: flex;
     flex-direction: row;
     cursor: pointer;
     font-size: 16px;
 }
 
 :host ::ng-deep .scale-action {
     flex-direction: column;
 }
 
 :host ::ng-deep .skip_action {
     margin-bottom: 22px;
 }
 
 :host ::ng-deep .scale-action:focus,
 :host ::ng-deep .skip_action:focus {
     outline: none;
 }
 
 :host ::ng-deep .actions-container .wrap .action:focus {
     outline: none;
 }
 
 :host ::ng-deep .action-end-btn {
     text-decoration: none;
 }
 
 :host ::ng-deep .actions-container .wrap .action:hover,
 :host ::ng-deep .skip_action:hover,
 :host ::ng-deep .action-end-btn:hover {
     background-color: #3F5789;
     color: White;
     text-decoration: none;
 }
 
 :host ::ng-deep .actions-container .wrap .action:hover .icon {
     border-color: White;
 }
 
 :host ::ng-deep .actions-container .wrap .action .icon:before {
     display: none;
     content: "";
     width: 8px;
     height: 8px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     background-color: #2bb885;
 }
 
 :host ::ng-deep .actions-container .wrap .action .icon {
     border-radius: 50%;
     width: 5px;
     height: 5px;
     flex: 0 0 auto;
     border: 1px solid #2bb885;
     padding: 3px;
     margin-right: 6px;
     margin-top: 2px;
 }
 
 :host ::ng-deep .actions-container .wrap .action .icon~span {
     min-width: 0;
     word-wrap: break-word;
     white-space: normal;
     font-size: 12px;
     font-weight: 400;
     line-height: 20px;
     letter-spacing: .3px;
 }
 
 :host ::ng-deep .actions-container .wrap {
     display: inline-block;
     /* flex-direction: row;
     align-items: center;
     flex-wrap: wrap;
     width: 100%; */
 }
 
 :host ::ng-deep .actions-container .wrap:focus {
     outline: none;
 }
 
 .input-container-wrap {
     display: none;
     padding: 0px;
     z-index: 0;
     /* bottom: 2px; */
     /* display: inline-flex; */
     /* position: fixed; */
 }
 
 .container-wrap_xs {
     display: none;
     padding: 0px;
     z-index: 0;
     bottom: 0px;
     /* position: fixed; */
 }
 
 .input-container-wrap {
     display: block;
 }
 
 .input-container-wrap .input-container {
     position: relative;
 }
 
 .input-container {
     display: inline-flex;
     width: 100%;
 }
 
 .input-container input {
     font-weight: 300;
     border: 0;
     height: 50px;
     padding-left: 16px;
     padding-right: 50px;
     width: 100%;
     font-family: Kanit;
     letter-spacing: .3px;
     font-size: 14px;
     color: #2c2c2c;
     background: #fff;
     /* border-radius: 28px; */
     /* border: 1px solid #9b9b9b; */
     width: 100%;
 }
 
 .input-container input:focus {
     outline: none;
 }
 
 .input_xs {
     font-weight: 300;
     border: 0;
     height: 50px;
     padding-left: 16px;
     padding-right: 50px;
     width: 100%;
     font-family: Kanit;
     letter-spacing: .3px;
     font-size: 14px;
     color: #2c2c2c;
     background: #fff;
     border-radius: 28px;
     border: 1px solid #9b9b9b;
     width: 250px !important;
 }
 
 .send-btn {
     width: 17px;
     height: 18px;
     position: absolute;
     top: 50%;
     margin-top: -11px;
     right: 16px;
     cursor: pointer;
 }
 
 :host ::ng-deep .append {
     padding-bottom: 40px !important;
 }
 
 :host ::ng-deep .append_xs {
     padding-bottom: 20px !important;
 }
 
 :host ::ng-deep .mat-custom-icon {
     vertical-align: text-top;
     font-size: 15px;
 }
 
 :host ::ng-deep .mat-time {
     font-size: 12px;
     font-style: italic;
 }
 
 :host ::ng-deep .date-picker-input,
 :host ::ng-deep .expect-salary-action {
     border-color: #3F5789;
     background-color: #eef1f5;
     color: #3F5789;
     align-items: flex-start;
     margin-top: 8px;
     margin-left: 12px;
     padding: 8px 25px;
     border: 1px solid #3F5789;
     border-radius: 20px;
     max-width: 100%;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     font-size: 16px;
     display: flex;
     flex-direction: row;
     cursor: pointer;
 }
 
 :host ::ng-deep .expect-salary-action {
     border-color: #3F5789;
     background-color: #3F5789;
     align-items: baseline;
     color: white;
     padding: 8px 16px;
 }
 
 :host ::ng-deep .date-picker-input:focus {
     outline: none;
 }
 
 :host ::ng-deep .ex-salary-input {
     margin: 0 8px;
     width: 100px;
     padding: 8px 12px;
     font-size: 14px;
 }
 
 .slidecontainer {
     width: 100%;
 }
 
 :host ::ng-deep .slider {
     -webkit-appearance: none;
     width: 100%;
     height: 6px;
     border-radius: 5px;
     background: #d3d3d3;
     outline: none;
     opacity: 0.7;
     margin-bottom: 10px;
     transition: opacity .2s;
 }
 
 :host ::ng-deep .slider:hover {
     opacity: 1;
 }
 
 :host ::ng-deep .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background: #3F5789;
     cursor: pointer;
 }
 
 :host ::ng-deep .slider::-moz-range-thumb {
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background: #3F5789;
     cursor: pointer;
 }
 
 :host ::ng-deep .custom-file-input {
     color: transparent;
     width: 175px;
     height: 32px;
 }
 
 :host ::ng-deep .custom-file-input:focus {
     outline: none;
 }
 
 :host ::ng-deep .custom-file-input::-webkit-file-upload-button {
     visibility: hidden;
 }
 
 :host ::ng-deep .custom-file-input::before {
     content: 'Upload Resume \f093';
     outline: none;
     text-shadow: 1px 1px #fff;
     font-weight: 700;
     font-size: 10pt;
     font: normal normal normal 14px/1 FontAwesome;
     border-color: #3F5789;
     background-color: #eef1f5;
     color: #3F5789;
     align-items: flex-start;
     /* margin-top: 8px; */
     margin-left: 12px;
     padding: 8px 25px;
     border: 1px solid #3F5789;
     border-radius: 20px;
     max-width: 100%;
     white-space: nowrap;
     display: flex;
     flex-direction: row;
     cursor: pointer;
 }
 
 :host ::ng-deep .custom-file-input:hover::before {
     border-color: black;
 }
 
 :host ::ng-deep .custom-file-input:active {
     outline: 0;
 }
 
 :host ::ng-deep .custom-file-input:active::before {
     background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
 }
 
 :host ::ng-deep .input-action {
     display: flex;
     align-items: baseline;
     justify-content: flex-start;
 }
 
 @-moz-document url-prefix() {
     .custom-file-input {
         width: 100px !important;
         margin-left: 10px;
     }
 }
 
 @media screen and (max-width: 700px) {
      :host ::ng-deep .action-btn-end-flow {
         flex-direction: column;
     }
 }
 
 @media screen and (max-width: 550px) {
      :host ::ng-deep .question .text {
         width: 100%;
     }
 }
 
 @media screen and (max-width: 510px) {
      :host ::ng-deep .input-action {
         flex-direction: column;
     }
      :host ::ng-deep .input-action .expect-salary-action {
         width: 250px !important;
     }
 }
 
 :host ::ng-deep .divFlex {
     display: flex;
     justify-content: space-between;
 }
 
 :host ::ng-deep .pm-0 {
     margin: 0;
 }
 /* The container */
 
 :host ::ng-deep .label-container {
     display: block;
     position: relative;
     padding-left: 25px;
     margin-right: 10px;
     /* margin-bottom: 12px; */
     cursor: pointer;
     /* font-size: 22px; */
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 /* Hide the browser's default checkbox */
 
 :host ::ng-deep .label-container input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
 }
 /* Create a custom checkbox */
 
 :host ::ng-deep .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 20px;
     width: 20px;
     background-color: #eee;
 }
 /* On mouse-over, add a grey background color */
 
 :host ::ng-deep .label-container:hover input~.checkmark {
     background-color: #ccc;
 }
 /* When the checkbox is checked, add a blue background */
 
 :host ::ng-deep .label-container input:checked~.checkmark {
     background-color: #fff;
 }
 /* Create the checkmark/indicator (hidden when not checked) */
 
 :host ::ng-deep .checkmark:after {
     content: "";
     position: absolute;
     display: none;
 }
 /* Show the checkmark when checked */
 
 :host ::ng-deep .label-container input:checked~.checkmark:after {
     display: block;
 }
 /* Style the checkmark/indicator */
 
 :host ::ng-deep .label-container .checkmark:after {
     left: 6px;
     top: 2px;
     width: 5px;
     height: 10px;
     border: solid #3F5789;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
 }
 
 .loader {
     position: absolute;
     z-index: 1;
     top: 50%;
     right: 50%;
 }
 
 .loader-text {
     position: absolute;
     z-index: 1;
     top: 68%;
     right: 46%;
 }
 
 :host ::ng-deep div#end-flow {
     padding: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 :host ::ng-deep .end-flow-success-screen {
     border: 1px solid #3F5789;
     border-radius: 10px;
     padding: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 :host ::ng-deep .action-btn-end-flow {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 :host ::ng-deep .end-flow-s-img,
 :host ::ng-deep .end-flow-error-img {
     width: 50px;
     height: 50px;
     text-align: center;
     margin-bottom: 12px;
 }
 
 :host ::ng-deep .end-flow-s-img img,
 :host ::ng-deep .end-flow-error-img img {
     width: 100%;
     height: 100%;
     text-align: center;
 }
 
 #svg-loader {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: #ffffff7a;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 999;
 }
 
 .lds-ellipsis {
     /* display: inline-block; */
     position: relative;
     margin-left: 6px;
     /* width: 70px; */
     /* width: 80px;
     height: 80px; */
 }
 
 .lds-ellipsis img {
     width: 100%;
 }
 
 .lds-ellipsis div {
     position: absolute;
     top: 0;
     width: 13px;
     height: 13px;
     border-radius: 50%;
     background: #3f5789;
     animation-timing-function: cubic-bezier(0, 1, 1, 0);
 }
 
 .lds-ellipsis div:nth-child(1) {
     left: 8px;
     animation: lds-ellipsis1 0.6s infinite;
 }
 
 .lds-ellipsis div:nth-child(2) {
     left: 8px;
     animation: lds-ellipsis2 0.6s infinite;
 }
 
 .lds-ellipsis div:nth-child(3) {
     left: 32px;
     animation: lds-ellipsis2 0.6s infinite;
 }
 
 .lds-ellipsis div:nth-child(4) {
     left: 56px;
     animation: lds-ellipsis3 0.6s infinite;
 }
 
 @keyframes lds-ellipsis1 {
     0% {
         transform: scale(0);
     }
     100% {
         transform: scale(1);
     }
 }
 
 @keyframes lds-ellipsis3 {
     0% {
         transform: scale(1);
     }
     100% {
         transform: scale(0);
     }
 }
 
 @keyframes lds-ellipsis2 {
     0% {
         transform: translate(0, 0);
     }
     100% {
         transform: translate(24px, 0);
     }
 }