<div id="add-new-candidate">
  <div class="form-container">
    <div class="add-c-header">
      <div class="add-cheader-logo">
        <img src="../../assets/images/logo.png" />
      </div>
      <div class="add-cheader-info">
        <h4 style="margin: 0;">Please enter your details</h4>
        <span (click)="onClose()" style="cursor: pointer;"
          ><i class="fa fa-times"></i
        ></span>
      </div>
    </div>
    <form
      [formGroup]="addDetailsForm"
      (ngSubmit)="addDetails(addDetailsForm.value)"
    >
      <p *ngIf="formValidationMsg" class="invalidationError">
        {{ formValidationMsg }}
      </p>
      <p *ngIf="formSuccessMsg" class="successMsg">
        {{ formSuccessMsg }}
      </p>
      <div class="field-height">
        <mat-label class="matLabel"
          >First Name
          <span class="input-required-mark">*</span>
        </mat-label>
        <input
          matInput
          type="email"
          class="mat-input-fields"
          placeholder="enter full name"
          formControlName="name"
          required
        />
      </div>
      <!-- <div class="field-height">
        <mat-label class="matLabel"
          >Last Name
          <span class="input-required-mark">*</span>
        </mat-label>
        <input
          matInput
          type="email"
          class="mat-input-fields"
          placeholder="enter last name"
          formControlName="last_name"
          required
        />
      </div> -->
      <div class="field-height">
        <div>
          <mat-label class="matLabel"
            >Email
            <span class="input-required-mark">*</span>
          </mat-label>
          <input
            matInput
            type="email"
            class="mat-input-fields"
            placeholder="enter candidate email"
            formControlName="email"
            required
          />
        </div>
      </div>
      <div class="field-height">
        <mat-label class="matLabel">Mobile </mat-label>
        <span class="input-required-mark">*</span>
        <input
          matInput
          type="text"
          minlength="10"
          maxlength="12"
          (keypress)="isNumberKey($event)"
          class="mat-input-fields"
          placeholder="enter candidate mobile"
          formControlName="number"
          required
        />
      </div>
      <div class="field-height">
        <mat-label class="matLabel">Title </mat-label>
        <span class="input-required-mark">*</span>
        <input
          matInput
          type="text"
          class="mat-input-fields"
          placeholder="enter Title"
          formControlName="title"
          required
        />
      </div>
      <div class="field-height">
        <mat-label class="matLabel">Comments</mat-label>
        <input
          matInput
          type="text"
          class="mat-input-fields"
          placeholder="Enter Comments"
          formControlName="comments"
        />
      </div>
      <mat-card-actions class="button-space">
        <button
          type="submit"
          [disabled]="!addDetailsForm.valid"
          mat-button
          style="margin-left: 22px;"
        >
          Submit
        </button>
        <button
          type="button"
          mat-button
          style="margin-left: 22px;"
          (click)="onClose()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </div>
</div>
