<div id="email-template">

    <p style="margin: 0;text-align: right;"><button type="button" class="close-btn" (click)="onClose()"><i class="fa fa-close"></i></button></p>
    <div class="preview-area">
        <h1 [innerHTML]="data.key" class="template_heading"></h1>
        <div [innerHTML]="data.value.content | sanitizeHtml"></div>
    </div>
</div>