:host ::ng-deep .mat-dialog-container {
    padding: 0px !important;
}

.template_heading {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:focus {
    outline: none;
}

.email-end-content {
    color: #2e5395;
}