@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    font-family: 'Kanit', sans-serif;
    top: 0;
    left: 0;
    margin: 0;
    bottom: 0;
    background-color: #fafafa;
}

.mat-button {
    color: #fff !important;
    background: #3F5789 !important;
    border: 1px solid #ebb464;
    font-size: 13px !important;
    height: 35px !important;
    padding: 0 10px !important;
    line-height: 1px !important;
    border-radius: 5px !important;
    text-transform: none !important;
    bottom: 9px !important;
    min-width: 0px !important;
    font-weight: bold;
}

.mat-button[disabled] {
    color: #fff !important;
    background: #67799f !important;
    opacity: 0.5;
    cursor: not-allowed !important;
}


/* To remove the default underline */

.mat-input-underline.mat-form-field-underline {
    background: transparent;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent !important;
}

.mat-focused .mat-form-field-underline .mat-form-field-ripple,
.mat-form-field-invalid .mat-form-field-underline .mat-form-field-ripple {
    background-color: transparent !important;
    visibility: hidden !important;
}

.matLabel {
    text-align: left !important;
    letter-spacing: 0 !important;
    color: #565151 !important;
    opacity: 1;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 4px;
}


/* // For all form fields */

.mat-input-fields {
    width: 100% !important;
    height: 35px !important;
    background: #ffffff !important;
    color: #000000 !important;
    border-radius: 5px !important;
    padding-left: 7px !important;
    font-size: 12px !important;
    border: solid #BDD5EA !important;
    border-width: 1px 1px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 1px solid #E1E2E4 !important;
    border-radius: 10px !important;
    opacity: 1;
}

.input-required-mark {
    color: #ea4444;
    margin: 0px !important;
    margin-left: 1px !important;
}

.mat-select-trigger {
    top: 11px;
    letter-spacing: 0.5px !important;
}