.iconOuter {
    position: fixed;
    right: 20px;
    background-color: rgb(43, 184, 133);
    box-shadow: 0 0 20px 0 hsla(0, 0%, 7%, .2);
    border-radius: 16px;
    height: 55px;
    width: 55px;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    color: #505962;
    text-align: center;
    line-height: 55px;
    outline: none;
}

#icon {
    color: #fff;
    padding-top: 13px;
    font-size: 30px;
}

.chatbody {
    background-size: cover;
    font-family: Cabin, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    /* height: 650px;
    width: 400px; */
    border: 0;
    padding: 0;
    margin: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
    /* border-radius: 8px;
    position: fixed;
    right: 20px;
    -webkit-box-shadow: 0 4px 20px 0 hsla(0,0%,7%,.2);
    box-shadow: 0 4px 20px 0 hsla(0,0%,7%,.2); */
    box-sizing: border-box;
    overflow: hidden;
    transform: translateZ(2147483647px)!important;
    -webkit-transform: translateZ(2147483647px)!important;
}

.chatbody_xs {
    /* background-size: cover; */
    font-family: Cabin, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    /* height: 100% !important; */
    /* width: 100% !important; */
    border: 0;
    padding: 0;
    margin: 0;
    bottom: 0;
    /* background-color: transparent; */
    z-index: 1;
    /* border-radius: 8px; */
    /* position: fixed; */
    /* right: 0px !important; */
    -webkit-box-shadow: 0 4px 20px 0 hsla(0, 0%, 7%, .2);
    box-shadow: 0 4px 20px 0 hsla(0, 0%, 7%, .2);
    box-sizing: border-box;
    overflow: hidden;
    transform: translateZ(2147483647px)!important;
    -webkit-transform: translateZ(2147483647px)!important;
}

.head {
    /* background: linear-gradient(to right, #3f5789eb, #3f5789); */
    background: linear-gradient(to right, #3f5789, #003275eb);
    color: rgb(254, 255, 254);
    padding-bottom: 10px;
    padding-right: 16px;
    position: relative;
    z-index: 5;
    padding: 14px 16px;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 2px 1px -1px rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .14);
}

#close {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    right: 16px;
    top: 16px;
    background-size: auto;
    cursor: pointer;
    position: absolute;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Titletext {
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    letter-spacing: .3px;
    /* padding-top: 12px; */
    /* padding-left: 10px; */
}


/* Update on 15 Feb */

.chatWindow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.recruiterArea {
    width: 23%;
}

.chatbody {
    width: 77%;
    border-left: 1px solid #e1e1e1;
}

.basic-info {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
}

.profile-image {
    width: 70px;
    height: 70px;
}

img.recruiter-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.recruiter-details {
    padding-left: 20px;
}

.recruiter-profiles {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.recruiter-profiles ul {
    list-style: none;
    padding: 0 10px 5px;
    display: flex;
    margin-left: -20px;
}

.recruiter-profiles ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    cursor: pointer;
}

.recruiter-profiles ul li span {
    text-decoration: none;
    color: #333;
    ;
}

.recruiter-profiles ul li span i {
    font-size: 20px;
    color: #205081;
    height: 24px;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
}

.status.away {
    background: linear-gradient(#74da42, #3b7c1b);
    border: 1px solid #65c636;
    flex: 0 0 auto;
    font-size: 16px;
    width: 10px;
    display: inline-block;
    height: 10px;
    margin-left: 3px;
    color: #65c636;
    border-radius: 50%;
}

.info-span {
    font-size: 11px;
    font-style: italic;
    color: #708090;
    font-size: 14px;
}

.info-p {
    margin: 0 0 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, .75);
}

@media screen and (max-width: 1465px) {
    .haeder-info-part {
        flex-wrap: wrap;
    }
    .recruiter-details {
        padding-left: 0px;
    }
}

@media screen and (max-width: 1317px) {
    .recruiterArea,
    .chatbody {
        width: 100%;
    }
    .recruiter-details {
        padding-left: 20px;
    }
}

@media screen and (max-width: 400px) {
    .haeder-info-part {
        flex-wrap: wrap;
    }
    .recruiter-details {
        padding-left: 0px;
    }
    .recruiter-profiles {
        font-size: 15px;
    }
}

.aptask-logo {
    width: 165px;
    height: 50px;
    align-self: center;
}

.aptask-logo img {
    width: 100%;
    height: auto;
}