<!-- <div class="iconOuter" (click)="openChatWindow()" *ngIf="chatWindow === false">
  <i class="material-icons" id="icon">message</i>
</div> -->

<div class="chatWindow">
    <!--<app-chat-window> </app-chat-window>-->
    <div class="recruiterArea">
        <div class="recruiter-info">
            <div class="basic-info">
                <div class="haeder-info-part">
                    <div class="aptask-logo">
                        <a href="https://www.aptask.com"><img src="../../assets/images/logo.png"></a>
                    </div>
                    <div style="display: flex;margin-top: 10px;">
                        <div class="profile-image">
                            <img src="{{RProfileImage}}" title="{{linkRefTitle}}" class="recruiter-image">
                        </div>
                        <div class="recruiter-details">
                            <h3 style="margin: 0;font-size: 20px;">{{RName}}<span class="status away"></span></h3>
                            <p class="info-p"><span class="info-span">Mobile No: </span>{{RMobile}}</p>
                            <p class="info-p"><span class="info-span">SMS No: </span>{{RTwillio}}</p>
                            <p class="info-p"><span class="info-span">Email ID: </span>{{REmail}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recruiter-profiles">
                <ul>
                    <li *ngIf="linkedin">
                        <span title="{{( !linkedin ? linkRefTitle : 'Available')}}" (click)="openUrl(linkedin)">
                            <i class="fa fa-linkedin-square"></i><span> Profile </span>
                        </span>
                    </li>
                    <li *ngIf="calender">
                        <span title="{{ (!calender ? linkRefTitle: 'Available')}}" (click)="openUrl(calender)">
                            <i class="fa fa-calendar-check-o"></i><span> Schedule </span>
                        </span>
                    </li>
                    <li *ngIf="videoIntro">
                        <span title="{{(!videoIntro ? linkRefTitle: 'Available')}}" (click)="openUrl(videoIntro)">
                            <i class="fa fa-video-camera"></i><span> Video Intro </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ngClass="chatbody" ngClass.xs="chatbody_xs">
        <div class="head">
            <div class="main">
                <!-- <i class="material-icons" id="icon">message</i> -->
                <div class="Titletext">{{RName}}</div>
                <!-- <i class="material-icons" id="close" (click)="closeChatWindow()">clear</i> -->
            </div>
            <!-- <div class="description">
                <div class="text">We can write whatever you need :)</div>
            </div> -->
        </div>
        <app-chat-window> </app-chat-window>
    </div>
</div>