/* .add-clinic-container {
    width: 587px;
}

.label-add-clinic {
    color: #1C3E60;
    font-size: 15px;
    font-weight: 600;
}

.mat-input-fields {
    width: 513px !important;
    height: 40px !important;
    background-color: #ffffff !important;
    color: #1C3E60 !important;
    padding-left: 7px !important;
    font-size: 13px !important;
    border: solid #CDD9E3 !important;
    border-width: 1px 1px !important;
    font-weight: 400 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
    border: 0px;
}

.add-clinic-position {
    display: flex;
    flex-direction: column;
    margin: 27px 0px 0px 36px;
    height: auto;
}

.button-space {
    margin-top: 33px;
    text-align: right;
    margin-right: 5.5%;
    margin-bottom: 27px;
}

#matField {
    width: 522px;
}

#small-field {
    width: 242px !important;
}

.contact-field-position {
    display: flex;
}

.clinic-checkbox {
    margin-right: 54px;
}

.mat-input-fields:focus {
    outline: none !important;
}

@media screen and (min-width:320px) and (max-width:650px) {
    .bank-details-position {
        margin-left: 13px;
    }
    .mat-input-fields {
        width: 90% !important;
    }
}

@media screen and (min-width:760px) and (max-width:1280px) {
    .bank-details-position {
        margin-left: 13px;
    }
    .mat-input-fields {
        width: 90% !important;
    }
}

.mat-search-input {
    border: 1px solid #ccc;
    height: 40px;
    font-size: 13px;
}

.mat-search-input-label {
    top: 1.75rem;
}

.mat-search-inputbox {
    height: 40px;
    padding: 0 16px;
}

.mat-select-panel {
    overflow-x: hidden !important;
} */

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 50px;
    padding: 0 0px;
}

.mat-toolbar {
    background: #122242;
    color: #fff;
    position: relative;
}

.nav-logo {
    margin: 20px 0px 0px 50px;
}

.nav-image {
    width: 130px;
    height: 45px;
}

.form-card {
    margin: 0px !important;
    padding: 0px;
    background: #fff;
    border-radius: 24px;
    opacity: 1;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 50px !important;
    border: none !important;
    box-shadow: none !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
}

.form-card_xs {
    width: auto !important;
    height: auto;
    margin: 0px !important;
    padding: 0px;
    background: #fff;
    border-radius: 24px;
    opacity: 1;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 50px !important;
    border: none !important;
    box-shadow: none !important;
}

.mainContainer {
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
}

.button-space {
    margin-left: auto !important;
    margin-right: auto !important;
}

.details-section {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100% !important
}

.field-height {
    margin-bottom: 20px;
}

.readonlyInput {
    background-color: #eee !important;
    width: 95% !important;
    color: #525252 !important;
}

.copyToClipboard {
    background-color: #eee !important;
    color: #525252 !important;
    padding: 12px 19px;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.copyToClipboard:focus {
    outline: none;
}

.text-success {
    position: relative;
    display: inline-block;
}

.text-success .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.text-success .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.copyToClipboard:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.invalidationError {
    color: #e3513f;
    background: #e3513f26;
    padding: 12px;
    border-radius: 6px;
}

.successMsg {
    color: #6fc68f;
    background: #6fc68f26;
    padding: 12px;
    border-radius: 6px;
}

.previewBtn {
    cursor: pointer;
    margin-top: 10px;
    background-color: #3F5789;
    padding: 12px;
    color: white;
    display: inline-block;
    border-radius: 4px;
}

.example-chip-list {
    width: 100%;
}

:host ::ng-deep .mat-chip-list .mat-chip-list-wrapper {
    padding: 4px 8px;
    border-radius: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 1px solid #E1E2E4 !important;
}

table,
th,
td {
    border: 1px solid #333;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
}

table#c-table tr:nth-child(even) {
    background-color: #fff;
}

table#c-table tr:nth-child(odd) {
    background-color: #ccc;
}

table#c-table th {
    background-color: black;
    color: white;
}

:host ::ng-deep .mat-form-field-label {
    padding: 8px;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
    color: #c1c1c1;
}

#svg-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff7a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}