<mat-toolbar>
    <mat-toolbar-row>
        <div class="nav-logo">
            <a href="https://www.aptask.com/" target="_blank">
                <img class="nav-image" src="../../assets/images/logo.png" alt="Aptask" />
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card ngClass="form-card" ngClass.xs="form-card_xs" [ngStyle]="{ padding: '0px' }">
    <mat-card-content class="mainContainer">
        <!-- <span (click)="test()">testrt</span> -->
        <form [formGroup]="welcomeForm" autocomplete="off" class="details-section" (ngSubmit)="createBotUrl(welcomeForm.value)">
            <p *ngIf="formValidationMsg" class="invalidationError">
                {{ formValidationMsg }}
            </p>
            <p *ngIf="formSuccessMsg" class="successMsg">
                {{ formSuccessMsg }}
            </p>
            <div class="field-height" style="margin-top: 20px">
                <mat-label class="matLabel">Recruiter Email
                    <span class="input-required-mark">*</span>
                </mat-label>
                <input type="email" class="mat-input-fields" formControlName="remail" placeholder="Search Recruiter" matInput (keyup)="filterEmails($event.target.value)" required [matAutocomplete]="email" />

                <mat-autocomplete placeholder="select email" #email="matAutocomplete" (optionSelected)="onSelection($event.option.value)" [displayWith]="displayFn">
                    <mat-option *ngFor="let email of filteredEmails" [value]="email">
                        {{ email.email }}
                    </mat-option>
                </mat-autocomplete>
            </div>

            <div class="field-height">
                <mat-label class="matLabel">Bot Category
                    <span class="input-required-mark">*</span>
                </mat-label>
                <mat-select class="mat-input-fields" placeholder="select bot category" formControlName="bot_category" required [(ngModel)]="optionValue">
                    <mat-option *ngFor="let category of botCategory | keyvalue" [value]="category.value">
                        {{ category.key }}
                    </mat-option>
                </mat-select>
            </div>

            <div class="field-height" *ngIf="optionValue == 1">
                <mat-label class="matLabel">Bot Type
                    <span class="input-required-mark">*</span>
                </mat-label>
                <mat-select class="mat-input-fields" placeholder="select bot type" formControlName="botType" required>
                    <mat-option *ngFor="let bot of botTypes | keyvalue" [value]="bot.value">
                        {{ bot.key }}
                    </mat-option>
                </mat-select>
            </div>

            <div class="field-height" *ngIf="optionValue == 1">
                <mat-label class="matLabel">Email Template
                    <span class="input-required-mark">*</span>
                </mat-label>
                <mat-select class="mat-input-fields" placeholder="select bot type" (selectionChange)="changePreview($event.value)" formControlName="email_template" required>
                    <mat-option *ngFor="let template of emailTemplates | keyvalue" [value]="template">
                        {{ template.key }}
                    </mat-option>
                </mat-select>
                <span *ngIf="showPreviewBtn" class="previewBtn" (click)="openTempletePreviewDialog()">Preview
                    Template</span>
            </div>

            <!-- <div class="field-height">
                <mat-label class="matLabel">Candidate Email
                    <span class="input-required-mark">*</span>
                </mat-label>
                <input matInput type="email" class="mat-input-fields" placeholder="enter candidate email" formControlName="cemail" required>
                <span class="previewBtn" (click)="openAddCandidateDialog()">Add Candidate</span>
            </div> -->

            <div class="field-height" *ngIf="optionValue == 1">
                <mat-label class="matLabel">Candidate Email
                    <!-- <span class="input-required-mark">*</span> -->
                </mat-label>
                <mat-form-field class="example-chip-list" [floatLabel]="'never'">
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let email of emails" [selectable]="selectable" [removable]="removable" (removed)="remove(email)">
                            {{ email.email }}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input type="email" matInput [matChipInputFor]="chipList" placeholder="Type & Press enter to add emails" matTooltip="Type & Press enter to add emails" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" />
                    </mat-chip-list>
                </mat-form-field>
                <!-- <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let email of emails" [selectable]="selectable" [removable]="removable"
              (removed)="remove(email)">
              {{ email.email }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip> -->
                <!-- [matChipInputAddOnBlur]="addOnBlur" -->
                <!-- <input type="email" matInput [matChipInputFor]="chipList" matTooltip="Press enter to add email"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" />
          </mat-chip-list>
        </mat-form-field> -->
                <span class="previewBtn" (click)="openAddCandidateDialog()">Add Candidate</span>
            </div>

            <div class="field-height" *ngIf="optionValue == 1">
                <mat-label class="matLabel">Job Ref #
                    <span class="input-required-mark">*</span>
                </mat-label>
                <input matInput type="text" class="mat-input-fields" placeholder="enter job id" formControlName="jid" required />
            </div>

            <mat-card-actions class="button-space">
                <button type="button" mat-button [disabled]="!toggleButtons" (click)="openBot()">
                    Open in new Tab
                </button>
                <button type="submit" mat-button style="margin-left: 22px;">
                    Submit
                </button>
                <!-- <button type="button" mat-button [disabled]="!toggleButtons" (click)="sendBot()" style="margin-left: 22px;">
          Send Bot To Candidate
        </button> -->
            </mat-card-actions>

            <!-- <p class="text-success alert alert-success" style="font-size: 16px;" *ngIf="toggleButtons">
                <input type="text" id="copy-clipboard" class="mat-input-fields readonlyInput" matInput readonly value="{{botUrl}}">
                <button type="button" (click)="copyLinkToClipboard()" (mouseout)="outFunc()" class="copyToClipboard">
                    <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                    <i class="fa fa-copy"></i>
                </button>
            </p> -->

            <table *ngIf="toggleButtons" id="c-table">
                <thead>
                    <th>Sr.No</th>
                    <th>Email</th>
                    <th>Bot Url</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let email of candidates | keyvalue">
                        <td>{{ email.key }}</td>
                        <td>{{ email.value.email }}</td>
                        <td>
                            <input type="text" id="copy-clipboard-{{ email.key }}" class="mat-input-fields readonlyInput" matInput readonly value="{{ email.value.bot_url }}" />
                        </td>

                        <td>
                            <button type="button" (click)="copyLinkToClipboard(email.key)" (mouseout)="outFunc(email.key)" class="copyToClipboard">
                                <span class="tooltiptext" id="myTooltip-{{ email.key }}">Copy to clipboard <i
                                        class="fa fa-copy"></i></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </mat-card-content>
</mat-card>
<div id="svg-loader" *ngIf="showSubmitLoader">
    <div class="home-laoder">
        <img src="../../assets/images/Wedges-3s-200px.svg">
    </div>
</div>